<script>
$(function(){
  $("#jump").click(function() {
        var speed = 500;
        var position = document.getElementById("bottom").offsetTop; 
        $('html, body').animate({ scrollTop: position }, speed, 'swing');
        return false;
  });
});
</script>

<div id="top">
  <div class="top_top">
    <div class="inner">
      <div class="icon_index">
        <div class="icon_about"><a id="jump" href="#bottom"><i class="fa fa-plane fa-fw"></i>RakuTabiについて</a></div>
      </div>   
      
      <div class="logo"><%= image_tag('logo.png', :alt => 'RakuTabi') %></div>

      <div id="button_top">
        <a href="/selection" alt="今すぐはじめる">今すぐはじめる</a>
      </div>
    </div>
  </div>
</div>

<div id="bottom">
  <div class="feature">
    <div class="bottom_text">
      <p class="title">RakuTabiとは</p>
      <p class="text">
        RakuTabiは、他のサービスとはちょっと違う、今までにない旅行目的地レコメンドサービスです。<br />
        「休みがとれた。どこ行こう」<br />
        行き先が決まっていない旅のアイデアを得るのに最適です。
      </p>
    </div>
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature01.png") %></p>
    </div>
  </div>

 <div class="feature">
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature02.png") %></p>
    </div>
    <div class="bottom_text">
      <p class="title">シンプルな操作</p>
      <p class="text">
        目的地をレコメンドしてもらうためにやらなきゃいけないことは、シンプルな質問に答えるだけ。<br />
        細かいことを考えたり、たくさんの条件を入力する必要はありません。
      </p>
    </div>
  </div>

  <div class="feature">
    <div class="bottom_text">
      <p class="title">思いつかないような場所へ</p>
      <p class="text">
        たったそれだけで、自分では思いつかないような目的地をレコメンドしてくれます。<br />
        世界はひろい。<br />
        RakuTabiで新しい発見をしてください。
      </p>
    </div>
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature03.png") %></p>
    </div>
  </div>
</div>

<div id="button_bottom">
  <a href="/selection" alt="今すぐはじめる">今すぐはじめる</a>
</div>

<div id="footer">
  Copyright 2014 &copy; RakuTabi. All rights reserved.
</div>

<div id="totop"><a href="#"><img src="/assets/totop.png"></a></div>

<script>
$(function() {
  // 最初はhide
  $('#totop').hide();
  
  // スクロールに応じてfadein/fadeout
  $(window).scroll(function(){
    if($(this).scrollTop() > 300) {
      $('#totop').fadeIn();
    } else {
      $('#totop').fadeOut();
    }
  
  });
  
  // クリックされたら上へ
  $('#totop a').click(function() {
      $('body, html').animate({
          scrollTop: 0
      }, 500);
      return false;
  });
});
</script>
<!-- /totop-->