<%= image_tag('bg.jpg', :class => 'bg', :alt => '') %>

<div id="container">
  <div class="logo">
    <div><%= image_tag('logo.png', :alt => 'RakuTabi') %></div>
  </div>

  <div class="button">
    <div><%= link_to image_tag('button.png', :alt => 'Search'), '/selection' %>
  </div>
</div>
