<%= image_tag('bg.jpg', :class => 'bg', :alt => '') %>

<div id="container">
  <div class="logo">
    <div><%= image_tag('logo.png', :alt => 'RakuTabi') %></div>
  </div>

<%= form_tag('/search', :method => :post) do %>
  <div class="button">
    <div><%= image_submit_tag('button.png', :alt => 'Search') %></div>
  </div>
<% end %>
</div>
