<script>
$(function(){
  $("#jump").click(function() {
        var speed = 500;
        var position = document.getElementById("about").offsetTop;
        $('html, body').animate({ scrollTop: position }, speed, 'swing');
        return false;
  });
});
</script>

<div id="index">

  <div class="main">
    <div class="row">
      <div class="cell">
        <div class="icon">
          <div class="icon_plane"><a id="jump" href="#about"><i class="fa fa-plane fa-fw"></i>タビノタネについて</a></div>
        </div>

        <div class="logo">
          <%= image_tag('logo_l.png', :alt => 'タビノタネ') %><br />
          思いつかないような場所へ行ける、旅行目的地レコメンドサービス
        </div>

        <div class="button_top">
          <a href="/question07" alt="今すぐはじめる">今すぐはじめる</a>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about">
    <div class="feature">
      <div class="bottom_text">
        <p class="title">タビノタネとは</p>
        <p class="text">
          タビノタネは、他のサービスとはちょっと違う、今までにない旅行目的地レコメンドサービスです。<br />
          「休みがとれた。どこ行こう」<br />
          行き先が決まっていない旅のアイデアを得るのに最適です。
        </p>
      </div>
      <div class="bottom_image">
        <p class="image"><%= image_tag("feature01.png") %></p>
      </div>
    </div>

   <div class="feature">
      <div class="bottom_image">
        <p class="image"><%= image_tag("feature02.png") %></p>
      </div>
      <div class="bottom_text">
        <p class="title">シンプルな操作</p>
        <p class="text">
          目的地をレコメンドしてもらうためにやらなきゃいけないことは、シンプルな質問に答えるだけ。<br />
          細かいことを考えたり、たくさんの条件を入力する必要はありません。
        </p>
      </div>
    </div>

    <div class="feature">
      <div class="bottom_text">
        <p class="title">思いつかないような場所へ</p>
        <p class="text">
          たったそれだけで、自分では思いつかないような目的地をレコメンドしてくれます。<br />
          世界はひろい。<br />
          タビノタネで新しい発見をしてください。
        </p>
      </div>
      <div class="bottom_image">
        <p class="image"><%= image_tag("feature03.png") %></p>
      </div>
    </div>
  </div>

  <div class="button_bottom">
    <a href="/selection" alt="今すぐはじめる">今すぐはじめる</a>
  </div>

  <div class="footer">
    Copyright &copy; Tabinotane. All rights reserved.
  </div>

  <div id="totop" class="totop"><a href="#"><img src="/assets/totop.png"></a></div>

</div>

<script>
$(function() {
  // 最初はhide
  $('#totop').hide();

  // スクロールに応じてfadein/fadeout
  $(window).scroll(function(){
    if($(this).scrollTop() > 300) {
      $('#totop').fadeIn();
    } else {
      $('#totop').fadeOut();
    }

  });

  // クリックされたら上へ
  $('#totop a').click(function() {
      $('body, html').animate({
          scrollTop: 0
      }, 500);
      return false;
  });
});
</script>
<!-- /totop-->