<div id="cityname" style="display:none;"><%= cityname %></div>
<div id="instagramphoto" class="instagram"></div>
<div class="instagram tabitane"></div>
<div class="instagram food"></div>
<div class="instagram view"></div>
<div class="instagram sight"></div>
<div class="instagram arch"></div>
