<div class="wrapper">
  <!-- データを変数に格納 -->

    <!-- HTMLで出力 -->
  <% if ! tour.nil? %>
    <div class="photo">

    </div>


    <div class="weather">

    </div>


    <div class="tour">

    </div>
  <% end %>
</div>
