<div id="detail">
  <div class="instagram food"></div>
  <div class="instagram view"></div>
  <div class="instagram sight"></div>
  <div class="instagram arch"></div>

  <!-- <script src="jquery.js"></script>
  <script src="dist/instagram.min.js"></script> -->
  <script>
  function createPhotoElement(photo) {
      var innerHtml = $('<img>')
        .addClass('instagram-image')
        .attr('src', photo.images.low_resolution.url);

      innerHtml = $('<a>')
        .attr('target', '_blank')
        .attr('href', photo.link)
        .append(innerHtml);
      return innerHtml;
    }

    function didLoadInstagram(event, response) {
      var that = this;

      $.each(response.data, function(i, photo) {
        $(that).append(createPhotoElement(photo));
      });
    }
  $(document).ready(function() {
    $('.instagram.food').on('didLoadInstagram', didLoadInstagram);
    $('.instagram.food').instagram({
      hash: '<%= @hashtag %>' + 'food',
      clientId: '954787f7f2b6464b98dbb73fb2492523'
    });
    $('.instagram.view').on('didLoadInstagram', didLoadInstagram);
    $('.instagram.view').instagram({
      hash: '<%= @hashtag %>' + 'view',
      clientId: '954787f7f2b6464b98dbb73fb2492523'
    });
    $('.instagram.arch').on('didLoadInstagram', didLoadInstagram);
    $('.instagram.arch').instagram({
      hash: '<%= @hashtag %>' + 'architecture',
      clientId: '954787f7f2b6464b98dbb73fb2492523'
    });
    $('.instagram.sight').on('didLoadInstagram', didLoadInstagram);
    $('.instagram.sight').instagram({
      hash: '<%= @hashtag %>' + 'sightseeing',
      clientId: '954787f7f2b6464b98dbb73fb2492523'
    });
  });
  </script>
</div>
