<div id="container">
  <div class="logo">
    <div><%= image_tag('which.png', :alt => 'Which do you lile?') %></div>
  </div>

  <div class="button">
  <%= link_to image_tag(@image_l.path), '/tour?imgid=' + @image_l.image_id %>
  <%= link_to image_tag(@image_r.path), '/tour?imgid=' + @image_r.image_id %>
  </div>
</div>
