<div id="container">
  <div class="logo">
    <div><%= image_tag('which.png', :alt => 'Which do you lile?') %></div>
  </div>

  <div class="button">
  <%= link_to image_tag('town.png', :alt => 'Town'), '/tour?imgid=town' %>
  <%= link_to image_tag('sea.png', :alt => 'Sea'), '/tour?imgid=sea' %>
  </div>
</div>