.bg {
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .bg {
    left: 50%;
    margin-left: -512px;
  }
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

.logo, .button {
  display: table;
  text-align: center;
  width: 100%;
}
.logo { height: 70%; }
.button { height: 30%; }

.logo > *, .button > * {
  display: table-cell;
}
.logo > * { vertical-align: middle; }