#index .icon { display: inline-block; }
#index .icon a {
  width: auto;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  color: #fff;
  text-decoration: none !important;
  opacity: 0.8;
  z-index: 10;
  position: absolute;
  top: 55px;
  right: 70px;
}
#index .icon a:hover  { opacity: 1; }
#index .icon img { padding-right: 5px; }

#index .main {
  min-width: 800px;
  height: 800px;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  display: table;
}
#index .row {
  display: table-row;
  text-align: center;
  height: 100%;
}
#index .cell {
  display: table-cell;
  vertical-align: middle;
}
#index .logo {
  margin-bottom: 160px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.2em;
}

#index .about {
  margin: 0 auto;
  display: table;
}
#index .about .feature {
  display: table-row;
  text-align: left;
}
#index .about .bottom_text, .about .bottom_image {
  padding-top: 150px;
  display: table-cell;
  vertical-align: top;
}
#index .about .bottom_text {
  width: 400px;
}
#index .about .title {
  margin: 0 0 20px 0;
  font-size: 32px;
}
#index .about .text {
  margin: 0 0 100px 0;
  font-size: 15px;
  line-height: 200%;
}
#index .about .image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
#index .about .image img {
  width: 300px;
  height: 300px;
}

#index .button_top, .button_bottom { width: 800px; }
#index .button_top { margin: 0 auto 0 auto; }
#index .button_bottom { margin: 150px auto 0 auto; }
#index .button_top a, .button_bottom a {
  margin: 0 auto;
  display: block;
  width: 400px;
  height: 60px;
  text-indent: -9999px;
}
#index .button_top a { background-image: url(button_top.png); }
#index .button_bottom a { background-image: url(button_bottom.png); }
#index .button_top a:hover, .button_bottom a:hover { background-position: left bottom; }

#index .footer {
  padding: 150px 0 20px 0;
  text-align: center;
  font-size: 13px;
  color: #999;
}

#index .totop {
  position: fixed;
  right: 70px;
  bottom: 55px;
}